@{
}


<div class="container-fluid">
    <div class="page-header" style="padding-bottom:20px">
        <div class="row">
            <div class="col-sm-6">
                <h3>報價維護</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home" data-bs-original-title="" title="">首頁</a></li>
                    <li class="breadcrumb-item">功能</li>
                    <li class="breadcrumb-item active"><a href="" data-bs-original-title="" title="">報價維護</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header pb-2">
            <h5>報修項目報價維護</h5>
        </div>
        <div class="card-body py-3 card-body-reduction">
            <input class="form-control" type="file" style="max-width:500px" />
            <div class="text-warningv2 mt-2" role="alert">
                <p class="mb-1">若要刪除資料[更新註記]請填'D'</p>
                <p class="mb-1">新增資料[更新註記]請填'A'</p>
            </div>
        </div>
        <div class="card-footer py-3">
            <button class="btn btn-primary"  type="button">匯入資料</button>
            <button class="btn btn-primary"  type="button">匯出資料</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header pb-2">
            <h5>門市自行尋商維護</h5>
        </div>
        <div class="card-body py-3 card-body-reduction">
            <input class="form-control" type="file" style="max-width:500px" />
            <div class="text-warningv2 mt-2" role="alert">
                <p class="mb-1">門市可自行尋商請填'Y'或'N'</p>
            </div>
        </div>
        <div class="card-footer py-3">
            <button class="btn btn-primary"  type="button">匯入資料</button>
            <button class="btn btn-primary"  type="button">匯出資料</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header pb-2">
            <h5>跑馬燈訊息維護</h5>
        </div>
        <div class="card-body py-3 card-body-reduction">
            <textarea class="form-control" rows="5" ></textarea>
        </div>
        <div class="card-footer py-3">
            <button class="btn btn-primary"  type="button">儲存</button>
         
        </div>
    </div>
</div>