@{
    Layout = null;
}
<style>
    .loader-wrapper {
        background-color: rgba(255,255,255, .5);
    }
</style>

<script>
    function showLoader(msg) {
        var h$tmpl = Handlebars.compile($('#tmplLoading').html());
        var loading = h$tmpl({
            msg: msg
        });
        $('body').append(loading);
    }

    function hideLoader() {
        $('.loader-wrapper').fadeOut('slow', function () {
            $(this).remove();
        });
    }
</script>
<script id="tmplLoading" type="text/x-handlebars-template">
    <div class="loader-wrapper">
        <div class="theme-loader">
            <div class="loader-p">
                <h3 class="position-relative top-100 text-center font-primary">{{msg}}</h3>
            </div>
        </div>
    </div>
</script>
<script src="~/js/handlebars.min-v4.7.7.js"></script>