@{
    var FormEditVM = new FormEditVM
    {
        FormNo = "123456",
    };
}

<div class="container-fluid">
    <div class="page-header" style="padding-bottom:20px">
        <div class="row">
            <div class="col-sm-6">
                <h3>維修單資料</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home" data-bs-original-title="" title="">首頁</a></li>
                    <li class="breadcrumb-item">工單管理</li>
                    <li class="breadcrumb-item active"><a href="" data-bs-original-title="" title="">維修單資料</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-body card-body-edit">
            @await Html.PartialAsync("Form/_FormEdit", FormEditVM)
        </div>
    </div>
</div>

@section scripts
{
    <script>
 
    </script>
}