
<div class="main">
    <div class="block">
        <header>
        </header>
        <div class="data-wrap">
            <h1>沒有權限進入頁面</h1>
        </div>
    </div>
</div>
<style>
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
</style>