@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

    .report-text {
        padding: 30px;
        border-radius: 8px;
        line-height: 2.5;
        font-size: 19px;
    }

    .contact {
        color: red;
        font-weight: bold;
    }

    .highlight-yellow {
        background-color: yellow;
        padding: 0 4px;
        border-radius: 2px;
    }

    .highlight-red {
        background-color: red;
        color: white;
        padding: 0 4px;
        border-radius: 2px;
    }
</style>

<div class="card">
    <div class="report-text">
        ◎ 多媒體/電腦設備/電視/手機保全座 報修特殊狀況反應，請連絡 <span class="contact">Lin, Derek 林景鴻 (527824)</span> <span class="highlight-yellow"><a role="button" style="color:var(--main_color)" href="/download/門市店務工具_注意事項.xlsx" download="門市店務工具_注意事項.xlsx">門市店務工具-注意事項</a></span><br>
        ◎ 空調(工單) 報修特殊狀況反應，請連絡 <span class="contact">Chen, Eddie 陳致昂 (15005)</span><br>
        ◎ DVR/監視系統/保全 報修特殊狀況反應，請連絡 <span class="contact">Fu, Edwin 傅聖維 (49852)</span><br>
        ◎ 內裝/機電/招牌/叫號機/緊急派工 報修特殊狀況反應，請連絡 <span class="contact">Tsai, Eric 蔡東良 (15793)</span><br>
        ◎ IP Phone問題，報修請撥25555或業務園地的電腦報修 報修特殊狀況反應，請連絡 <span class="contact">Cheng, Joe 鄭富仁 (525538)</span><br>
        ◎ 小型設備不需報修，請聯繫區助理購買，小型設備品項清單 <span class="highlight-yellow"><a role="button" style="color:var(--main_color)" href="/download/小型設備品項清單.pptx" download="小型設備品項清單.pptx">請點此處</a></span> ◎門市自行備商選項，參考清單<span class="highlight-yellow"><a role="button" style="color:var(--main_color)" href="/download/門市自行尋商選項.xlsx" download="門市自行尋商選項.xlsx">請點此處</a></span>
        <div class="w-100" style="text-align:right">
            <a role="button" style="color:var(--main_color)" href="/download/報修流程圖.pdf" download="報修流程圖.pdf"><span class="highlight-red">報修流程圖</span></a>
        </div>
    </div>

</div>