/Const/bin
/Const/obj
/FET_RM_Vender/obj
/FET_RM_Vender/bin
/FET_RM_Vender/FET_RM.csproj.user
/FET_RM_Vender/.vs
/FET_RM/obj
/FET_RM/bin
/FET_RM/FET_RM.csproj.user
/FET_RM/.vs
/FTT_API/obj
/FTT_API/bin
/FTT_API/FTT_API.csproj.user
/FTT_API/.vs
/FTT_VENDER_API/obj
/FTT_VENDER_API/bin
/FTT_VENDER_API/FTT_VENDER_API.csproj.user
/FTT_VENDER_API/.vs
/FTT_VENDER_WEB/obj
/FTT_VENDER_WEB/bin
/FTT_VENDER_WEB/FTT_VENDER_WEB.csproj.user
/FTT_VENDER_WEB/.vs
/FTT_WEB/obj
/FTT_WEB/bin
/FTT_WEB/FTT_WEB.csproj.user
/FTT_WEB/.vs
/Core.8.Utility/bin
/Core.8.Utility/obj
/Core.8.Utility/Debug
/Core.8.Utility.Web/bin
/Core.8.Utility.Web/obj
/.vs
/FET/.vs
/FET_RM_Vender/FET_RM_Vender.csproj.user
bin
obj
.vs
packages
*.user